<div class="row">
    <div class="col-xs-12 col-sm-8 no-padding">
        <center ng-if="$ctrl.connError"><br/><br/><h3>Error establishing a database connection</h3><br/></center>
        <center ng-if="!$ctrl.posts && !$ctrl.connError"><br/><br/><h3>Loading . . . </h3><br/></center>
        <a class="post" ng-href="#/blog/{{post.ide}}" ng-repeat="post in $ctrl.posts | orderBy: 'gsx$date': true">
            <h2>{{$ctrl.getValue(post, 'title')}}</h2>
            <p>{{$ctrl.getValue(post, 'date') | date:"dd.MM.yyyy"}}<!-- by <span style="color:#337ab7">{{post.author}}</span> --></p>

            <div ng-if="$ctrl.getValue(post, 'image')">
                <div class="row">
                    <div class="col-md-4" style="padding:0px;">
                        <img ng-src="{{$ctrl.getValue(post, 'image')}}" />
                        <br/><br/>
                    </div>
                    <div class="col-md-6" style="padding:0px;" ng-bind-html="$ctrl.getValue(post, 'content')">

                    </div>
                </div>
            </div>
            <div ng-if="!$ctrl.getValue(post, 'image')" ng-bind-html="$ctrl.getValue(post, 'content')">

            </div>
            
            <!-- <span style="color:#337ab7">
                {{post.comments.length}}
                <span ng-if="post.comments.length == 1">comment</span>
                <span ng-if="post.comments.length != 1">comments</span>
            </span> -->           
        </a>
    </div>
    <div class="col-xs-12 col-sm-4">
        <br>
        <h4>My Blog</h4>
        <p>A place to share my ideas and interesting articles. Check back soon..</p>

        <h4>Filter</h4>
        <ol class="list-unstyled">
            <li ng-repeat="date in $ctrl.archives"><a href="#">{{date | date:"yyyy.mm"}}</a></li>
        </ol>

        <h4>Elsewhere</h4>
        <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/rich.wincott">Facebook</a></li>
        </ul>
    </div>
</div>

